{
  "hail" : {
    "default" : {
    	"default" : [
	      "I've got my eye on you. It's closed, but still on you.",
	      "Keep on the straight and narrow, you. I'll pretend to make sure you do.",
	      "We don't tolerate miscreants here. Much.",
	      "Move along. Or not."
      ]
    },
    "glitch" : {
      "default" : [
        "Cautious. Behave yourself. Just a suggestion.",
        "Suspicious. What is your purpose here?",
        "Inexperienced. Eep!",
        "Alert. Who are you?",
        "Optimistic. I'm sure you won't be any trouble. Even if you are, I can run away.",
        "Reticent. You won't be a problem...",
        "Stern. You behave yourself. Please?",
        "Insincere. Have an absolutely wonderful day.",
        "Dismissive. Try not to get yourself killed. Not from me, from things like that lava pit that killed me this morning.",
        "Concerned. Should you be here?"
      ]
    },
    "human" : {
      "default" : [
        "Watch yourself, stranger. Cause I won't be.",
        "Stay out of trouble. I'd hate to have to do my job.",
        "Don't... Just don't do anything. Well, do some things...you understand.",
        "Try not to destroy anything. At least not me.",
        "I'm watching you. *wink*",
        "You better not try anything where I might see it.",
        "I'm super tough, better not cross me. Full of power, I am. Right. No need to actually test that.",
        "Hi! I mean... Grrr. Can I go now?",
        "What's your business here? Is it to line your pockets with the contents of 200 boxes again?",
        "What are you lookin' at? I wanna see too!"
      ]
    },
    "floran" : {
      "default" : [
        "Sstay out of trouble. Floran wantss to sssleep.",
        "Floran does not like your face. Or Floran'ss job.",
        "No ssilliness.",
        "Behave yourssself.",
        "Floran wantsss to stab sssomething...",
        "Floran is hungry...",
        "Give Floran a reassson.",
        "Don't tempt Floran...to run away.",
        "Keep moving, sstranger.",
        "Troublemakers are tasty. Gotta find one sssomeday..."
      ]
    },
    "apex" : {
      "default" : [
        "Stay silent, traveller, and do not cause any trouble.",
        "Obey the Miniknog.",
        "Big Ape is watching you. Too bad he can't do my job too.",
        "Acts of aggression will not be tolerated. Theft, on the other hand...",
        "Every act has repercussions. Like when you steal things having the repercussion of you getting richer.",
        "All hail Big Ape! Celebrate his glorious rule!",
        "I love Big Ape.",
        "Big Ape loves us all, except the ones he doesn't.",
        "Mouth shut, eyes forward.",
        "Bow to the Miniknog."
      ]
    },
    "hylotl" : {
      "default" : [
        "Let us be peaceful, and have tranquility reign over our encounter.",
        "I hope that we can each keep our steel sheathed and chambered.",
        "Walk well, stranger.",
        "We ask only that you behave respectfully within our jurisdiction. That means anything of ours stays ours...unless you really want it.",
        "Cross me and I will be forced to strike.",
        "I hope the serenity of our surroundings will influence your actions.",
        "A Hylotl warrior is trained from birth.",
        "I ask that you do not blemish this place with unnecessary aggression. Or clear it out. Please?",
        "Do not test me.",
        "Welcome, stranger. Are you here to admire our culture?"
      ]
    },
    "avian" : {
      "default" : [
        "Don't try me.",
        "If we fight, you will lose. Take my word for it. Not like this is my first day or anything...",
        "I'm afraid I must ask you to move along.",
        "I hope your time here is pleasant. I get the feeling it will be profitable for you, if not so much for us.",
        "Just try not to put a cat amongst the pigeons. Or just take the cat and the pigeons, whatever works for you.",
        "You're welcome here, as long as you respect our home. Even if you turn it into a crater, respect that crater.",
        "I can't spar right now...",
        "I hope we can get along.",
        "As long as you don't break anything or kill anyone, you are welcome here....I guess taking does not really count as breaking...",
        "Avians have been great warriors since time immemorial."
      ]
    }
  }
}