{
  "accuse" : {
    "default" : {
      "default" : [
        "Hey, that doesn't belong to you! But that's not going to stop you, is it?",
        "Why is it the moment that anyone new shows up here the first thing they do is take anything in sight?",
		"Oh great. Another interstellar klepto.",
		"You came from the protectorate, but the only thing you are protecting is a massive hoard of crap."
      ]
    },
    "apex" : {
      "default" : [
        "You know, the consequences for stealing are quite severe. We'll do things like look disapprovingly and make empty threats.",
        "How can you justify this thievery?",
        "Why are you taking things that aren't yours?",
        "Stop that! Why are you stealing these things!? Is your ship not crammed enough?",
        "These things don't belong to you! Well...they do now."
      ]
    },
    "avian" : {
      "default" : [
        "Hey, that doesn't belong to you! Pixel printing is a thing, you know!",
        "Will you really be able to enjoy something if you acquired it by theft? Actually...you probably will.",
        "Please don't take things from us. Take it from that guy instead.",
        "That's not yours! Yet!",
        "Stealing isn't a victimless crime you know. Then again, since when has anyone cared about us?"
      ]
    },
    "floran" : {
      "default" : [
        "Ssstop stealing Floran's stuff! Sssteal fishpeople ssstuff insstead!",
        "That isn't yoursss!",
        "Floran won't put up with sstealing!",
        "Floran iss not impressed! Stop stealing!",
        "Bad sstranger! Stealing might be punished!"
      ]
    },
    "human" : {
      "default" : [
        "Hey! That stuff doesn't belong to you! And why do you even WANT it?",
        "What're you playing at? You can't go about stealing! Oh, that's right, you can...",
        "What!? What are you doing!? That's theft!",
        "Woa woa woa, who told you you could take that?",
        "That's not okay! Stop stealing!!"
      ]
    },
    "hylotl" : {
      "default" : [
        "Please cease this thievery at once!",
        "It's wrong to take what is not yours!",
        "Shame on you, these items are not yours to take!",
        "This thievery is an indictment of your character.",
        "I plead with you to desist, please stop stealing from us!"
      ]
    },
    "glitch" : {
      "default" : [
        "Aghast. You are stealing!",
        "Angry. You are taking things that aren't yours!",
        "Disappointed. I assumed you were a nice person, not a thief.",
        "Bewildered. Those aren't yours, why are you taking them?",
        "Appalled. A thief!"
      ]
    }
  },
  "alert" : {
    "default" : {
      "default" : [
        "Guards! There is a criminal here! Pretend to do something!",
        "Guards? Hello? Anyone?",
		"The guards USED to care, and then that new guy showed up and they just...stopped."
      ]
    },
    "avian" : {
      "default" : [
        "Guards! Stop this criminal! Or not!",
        "You're a thief! Guards, come quickly and fail to serve your purpose!",
        "The guards will stop your thievery! I hope!",
        "Guards! Catch this thief! And then release him again!",
        "Stop stealing! Guards, help!"
      ]
    },
    "apex" : {
      "default" : [
        "Guards! There is a criminal here!",
        "Thievery! Guards! Someone!",
        "I will not suffer a crook! Guards!",
        "Things are being stolen! Guards, come quickly, or maybe not at all!",
        "You must stop taking things! Guards!"
      ]
    },
    "human" : {
      "default" : [
        "Stop pilfering! Guards, help me look less desperate!",
        "Guards! Catch this terrible robber! By 'catch' I of course mean ignore!",
        "Ah! Guards, catch that thief!",
        "Oh no, oh no! A Robber! Guards!",
        "Guards, capture this criminal! Or just idly walk around!",
		"Blah blah blah. Is anyone even listening to me??...Of course not..."
      ]
    },
    "hylotl" : {
      "default" : [
        "Guards! There is a criminal here! You know that means to leave immediately!",
        "Burglar! Crook! Thief! Guards, I need you to pretend to care!",
        "Larceny! Guards, help!",
        "This will not be endured! Guards, catch this thief...after they have already left!",
        "Guards, capture this miscreant!...Or capture that croissant instead..."
      ]
    },
    "floran" : {
      "default" : [
        "Guardsss! Floran found a thief!",
        "The guards will hunt you down for thiss!...Floran wishes that was true...",
        "You are a criminal! Guardsss!",
        "Floran won't let you get away with thiss! Guardsss...will!",
        "That'ss it - Floran's telling guards on you. They'll pretend to be very angry!"
      ]
    },
    "glitch" : {
      "default" : [
        "Incensed. Guards, seize this criminal...please?",
        "Panicked. Guards, guards! A thief! No, not me, them!",
        "Indignant. How can you do this!? Guards, do something for once!",
        "Irate. You thieving scoundrel! Guards!",
        "Enraged. Stop this thievery! Guards!"
      ]
    }
  }
}
